<h1>Listing item_line_prices</h1>

<table>
  <tr>
    <th>Item line</th>
    <th>Recommended price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_line_prices.each do |item_line_price| %>
  <tr>
    <td><%= item_line_price.item_line_id %></td>
    <td><%= item_line_price.recommended_price %></td>
    <td><%= link_to 'Show', item_line_price %></td>
    <td><%= link_to 'Edit', edit_item_line_price_path(item_line_price) %></td>
    <td><%= link_to 'Destroy', item_line_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item line price', new_item_line_price_path %>
