<h1>Listing orders</h1>

<table class="table">
  <tr>
    <th>Date</th>
    <th>Sales person</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.date %></td>
    <td><%= User.find(order.sales_person_id).email %></td>
    <td><%= order.user.email %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
