<p id="notice"><%= notice %></p>

<p>
  <b>Cost:</b>
  <%= @shipment.cost %>
</p>

<p>
  <b>Date:</b>
  <%= @shipment.date %>
</p>


<%= link_to 'Edit', edit_shipment_path(@shipment) %> |
<%= link_to 'Back', shipments_path %>
