<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :sales_person, collection: User.all, :label_method => :email,:selected => current_user.id %>
    <%= f.association :item_line %>
    <%= f.input :client %>
    <%= f.input :price %>
    <%= f.input :received, label: 'Amount Received' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
