<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sale.order.user_id %>
</p>

<p>
  <b>Sales person:</b>
  <%= @sale.sales_person_id %>
</p>

<p>
  <b>Item:</b>
  <%= @sale.item_id %>
</p>

<p>
  <b>Client:</b>
  <%= @sale.client %>
</p>

<p>
  <b>Price:</b>
  <%= @sale.price %>
</p>

<p>
  <b>Received:</b>
  <%= @sale.received %>
</p>

<p>
  <b>Date:</b>
  <%= @sale.date %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
