<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sale.order.user.email if @sale.order%>
</p>

<p>
  <b>Sales person:</b>
  <%= @sale.sales_person.email %>
</p>

<p>
  <b>Item:</b>
  <%= @sale.item_line.item.name %>
</p>

<p>
  <b>Client:</b>
  <%= @sale.client %>
</p>

<p>
  <b>Price:</b>
  <%= @sale.price_in_nis %>
</p>

<p>
  <b>Received:</b>
  <%= @sale.received_in_nis %>
</p>

<p>
  <b>Date:</b>
  <%= @sale.order.date if @sale.order %>
</p>


<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
