<%= simple_form_for(@item_line, :html => { :class => 'navbar-form'  }) do |f| %>
  <% if @item_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_line.errors.count, "error") %> prohibited this item_line from being saved:</h2>

      <ul>
      <% @item_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <%= f.association :item %>
    <%= f.input :quantity %>
    <%= f.input :cost_in_nis %>
    <%= f.input :cost_with_shipment_in_nis %>
    <%= f.association :shipment %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
