<%= form_for(@item_line) do |f| %>
  <% if @item_line.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_line.errors.count, "error") %> prohibited this item_line from being saved:</h2>

      <ul>
      <% @item_line.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.number_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.number_field :cost %>
  </div>
  <div class="field">
    <%= f.label :cost_with_shipment %><br />
    <%= f.number_field :cost_with_shipment %>
  </div>
  <div class="field">
    <%= f.label :shipment_id %><br />
    <%= f.number_field :shipment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
