<h1>Listing item_lines</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Cost</th>
    <th>Cost with shipment</th>
    <th>Shipment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_lines.each do |item_line| %>
  <tr>
    <td><%= item_line.item_id %></td>
    <td><%= item_line.quantity %></td>
    <td><%= item_line.cost %></td>
    <td><%= item_line.cost_with_shipment %></td>
    <td><%= item_line.shipment_id %></td>
    <td><%= link_to 'Show', item_line %></td>
    <td><%= link_to 'Edit', edit_item_line_path(item_line) %></td>
    <td><%= link_to 'Destroy', item_line, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item line', new_item_line_path %>
